---
layout: default
title: Home
---


<section class="home">
        <div class="container">
        <div class="row">
           <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="headline">
                        <div class="nav" id="headline-nav">
                                <a class="left carousel-control" role="button" data-slide="prev">
                                        <span class="ion-ios-arrow-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" role="button" data-slide="next">
                                        <span class="ion-ios-arrow-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                </a>
                        </div>
                        <div class="owl-carousel owl-theme" id="headline">	
                                {% for post in site.posts limit:3 %}	
                                <div class="item">
                                  <a href="{{ post.url }}">{% if post.badge %}<div class="badge">{{ post.badge }}</div>{% endif %}{{ post.title }}</a>
                                </div>
                                {% endfor %}                                
                        </div>
                </div>
                <div class="owl-carousel owl-theme slide" id="featured">
                        {% for post in site.posts limit:3 %}	
                        <div class="item">
                                <article class="featured">
                                        <div class="overlay"></div>
                                        <figure>
                                                <img src="../assets/images/news/{{ post.image }}" alt="{{ post.title }}">
                                        </figure>
                                        <div class="details">
                                                {% if post.category %}
                                                {% assign category_url = post.category | downcase | strip | replace: ' ','-' | replace: 'Ş','s' | replace: 'ş','s' | replace: 'ğ','g' | replace: 'ı','i' | replace: 'İ','I' | replace: 'ö','o' | replace: 'Ö','O' | replace: 'Ü','U' | replace: 'ü','u' | replace: 'Ç','C' | replace: 'ç','ç' %}
                                                <div class="category"><a href="{{ category_url }}">{{ post.category }}</a></div>
                                                {% endif %}
                                                <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
                                                <div class="time">{{ post.date | date: '%d.%m.%Y' }}</div>
                                        </div>
                                </article>
                        </div>
                        {% endfor %}    
                </div>
               
           {% include category-posts.html %}                 
           {% include sidebar.html %}           
           <div class="col-md-8 col-sm-12 col-xs-12">                   
           {% include bilim-teknoloji-posts.html %} 
           {% include yasam-posts.html %} 
           {% include guncel-posts.html %} 
        </div>
        </div>
</section>

