---
layout: default
---



<div class="page clearfix" index>
  <div class="left">
      <h1>Kayıp Sözlük | Arama</h1>
      <br/>
      <form action="../search" method="get" style="display: none;">
        <!-- <label for="search-box">Arama</label> -->
        <input type="text" id="search-box" placeholder="birşeyler arayabilirsin..." name="query">
      </form>
      <hr>

<div id="search-results" class="post-container"></div>
    
<script>
  window.store = {
    {% for post in site.posts %}
    "{{ post.url | slugify }}": {
      "title": "{{ post.title | xml_escape }}",
      "baseurl":"{{ site.github.url }}",
      "date": "{{ post.date | date: "%d/%m/%Y" }}",
      "tags" : "{{ post.tags | join: ', ' }}",
      "author": "{{ post.author | xml_escape }}",
      "group": "{{ post.group  }}",
      "content": {{ post.content | strip_html | strip_newlines | jsonify }},
      "url": "{{ post.url | xml_escape }}"
    }
    {% unless forloop.last %},{% endunless %}
  {% endfor %}
  };
</script>
<script src="../js/lunr.min.js"></script>
<script src="../js/search.js"></script>
      

  </div>
  <!-- <button class="anchor"><i class="fa fa-anchor"></i></button> -->
  <div class="right">
      <div class="wrap">
          <div class="side">
              <div>
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  Son Yazılar
              </div>
              <ul class="content-ul" recent>
                  {% for post in site.posts offset: 0 limit: 5  %}
                      <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                  {% endfor %}
              </ul>
          </div>

          <div class="side">
            <div>
                <i class="fa fa-search" aria-hidden="true"></i>
                Arama
            </div>
            <ul class="content-ul" recent>
              <form action="../search" method="get">
                <!-- <label for="search-box">Arama</label> -->
                <input type="text" id="search-box" placeholder="birşeyler arayabilirsin..." name="query">
              </form>
            </ul>
        </div>


          <!-- Content -->
          <div class="side ">
              <div>
                  <i class="fa fa-th-list"></i>
                  Kategoriler
              </div>
              <ul class="content-ul" cate>
                  {% for category in site.categories %}
                  <li>
                      <a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}" class="categories-list-item" cate="{{ category | first }}">
                          <span class="name">
                              {{ category | first }}
                          </span>
                          <span class="badge">{{ category | last | size }}</span>
                      </a>
                  </li>
                  {% endfor %}
              </ul>
          </div>
          <div class="side">
              {% if site.data.settings.development %}
              close-advertisements
              {% else %}
              {% include advertisements.html %}
              {% endif %}
          </div>
          <div class="side">
              <div>
                  <i class="fa fa-tags"></i>
                  Etiketler
              </div>
              <div class="tags-cloud">
                  {% assign first = site.tags.first %}
                  {% assign max = first[1].size %}
                  {% assign min = max %}
                  {% for tag in site.tags offset:1 %}
                    {% if tag[1].size > max %}
                      {% assign max = tag[1].size %}
                    {% elsif tag[1].size < min %}
                      {% assign min = tag[1].size %}
                    {% endif %}
                  {% endfor %}

                  {% if max == min %}
                      {% assign diff = 1 %}
                  {% else %}
                      {% assign diff = max | minus: min %}
                  {% endif %}

                  {% for tag in site.tags %}
                    {% assign temp = tag[1].size | minus: min | times: 36 | divided_by: diff %}
                    {% assign base = temp | divided_by: 4 %}
                    {% assign remain = temp | modulo: 4 %}
                    {% if remain == 0 %}
                      {% assign size = base | plus: 9 %}
                    {% elsif remain == 1 or remain == 2 %}
                      {% assign size = base | plus: 9 | append: '.5' %}
                    {% else %}
                      {% assign size = base | plus: 10 %}
                    {% endif %}
                    {% if remain == 0 or remain == 1 %}
                      {% assign color = 9 | minus: base %}
                    {% else %}
                      {% assign color = 8 | minus: base %}
                    {% endif %}
                    <a href="{{ root_url }}/search?query={{ tag[0] }}" style="font-size: {{ size }}pt; color: #{{ color }}{{ color }}{{ color }};">{{ tag[0] }}</a>
                  {% endfor %}
              </div>
          </div>

          <!-- <div class="side">
              <div>
                  <i class="fa fa-external-link"></i>
                  Links
              </div>
              <ul  class="content-ul">

              </ul>
          </div> -->
      </div>
  </div>
</div>
<!-- <script src="{{ "/js/scroll.min.js " | prepend: site.baseurl }}" charset="utf-8"></script> -->
<!-- <script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script> -->



