
<!-- Start footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="block">
                    <h1 class="block-title">Hakkında</h1>
                    <div class="block-body">
                        
                        <p class="brand-description">
                            {{ site.description }}
                        </p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="block">
                    <h1 class="block-title">Kategoriler</h1>
                    <div class="block-body">
                        <ul class="tags">
                           {% for category in site.categories %}
                           {% capture category_name %}{{ category | first }}{% endcapture %}                           
                           {% assign category_url = category_name | downcase | strip | replace: ' ','-' %}
                           <li><a href="{{ site.url }}/{{ category_url }}" target="_blank">{{ category_name }}</a></li> 
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="block">
                    <h1 class="block-title">Son Yazılar</h1>
                    <div class="block-body">
                        {% for post in site.posts limit:3 %}
                        <article class="article-mini">
                            <div class="inner">
                                <figure>
                                    <a href="{{ site.url }}{{ post.url }}" target="_blank">
                                        <img src="{{ site.url }}/assets/images/news/{{ post.image }}" alt="{{ post.title }}">
                                    </a>
                                </figure>
                                <div class="padding">
                                    <h1><a href="{{ site.url }}{{ post.url }}" target="_blank">{{ post.title }}</a></h1>
                                </div>
                            </div>
                        </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-6">
                <div class="block">
                    <h1 class="block-title">Takip Edin</h1>
                    <div class="block-body">
                        <p>Aşağıdaki bağlantılardan takip edebilirsiniz</p>
                        <ul class="social trp">                            
                            <li>
                                <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" class="twitter">
                                    <svg><rect width="0" height="0"/></svg>
                                    <i class="ion-social-twitter-outline"></i>
                                </a>
                            </li>                            
                            <li>
                                <a href="{{ site.googleplus_url }}" target="_blank" class="googleplus">
                                    <svg><rect width="0" height="0"/></svg>
                                    <i class="ion-social-googleplus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.url }}/feed.xml" target="_blank" class="rss">
                                    <svg><rect width="0" height="0"/></svg>
                                    <i class="ion-social-rss"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    COPYRIGHT &copy; Kayıp Sözlük {{ site.time | date: '%Y' }}. ALL RIGHT RESERVED.                    
                </div>
            </div>
        </div>
    </div>
    <a href="javascript:" id="return-to-top"><i class="ion-arrow-up-c"></i></a>
    
    <!-- ICON NEEDS FONT AWESOME FOR CHEVRON UP ICON -->
    
</footer>
<!-- End Footer -->

    <script src="{{ site.url }}/assets/js/jquery.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.migrate.js"></script>
    <script src="{{ site.url }}/assets/scripts/bootstrap/bootstrap.min.js"></script>
    <script>var $target_end=$(".best-of-the-week");</script>
    <script src="{{ site.url }}/assets/scripts/jquery-number/jquery.number.min.js"></script>
    <script src="{{ site.url }}/assets/scripts/owlcarousel/dist/owl.carousel.min.js"></script>
    <script src="{{ site.url }}/assets/scripts/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="{{ site.url }}/assets/scripts/easescroll/jquery.easeScroll.js"></script>
    <script src="{{ site.url }}/assets/scripts/sweetalert/dist/sweetalert.min.js"></script>
    <script src="{{ site.url }}/assets/scripts/toast/jquery.toast.min.js"></script>  
    <script src="{{ site.url }}/assets/js/e-magz.js"></script>
    <script src="{{ site.url }}/assets/js/main.js"></script>
