
<head>    
    {% include seo.html %}
    <link rel="stylesheet" href="{{ site.url }}/assets/scripts/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/scripts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/scripts/toast/jquery.toast.min.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/scripts/owlcarousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/scripts/owlcarousel/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/scripts/magnific-popup/dist/magnific-popup.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/scripts/sweetalert/dist/sweetalert.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/skins/all.css">    
    <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">    
    <!-- some other meta -->
    {% if page.url == "/404.html" %}
    <meta http-equiv="refresh" content="5; url=/">
    {% endif %}
    {% include google-analytics.html %}   
    <!-- some other stuff like link or script -->
</head>