<div class="col-md-6 col-sm-6">
    <h1 class="title-col">
        Kültür Sanat      
    </h1>
    <div class="body-col" data-max="4" style="overflow: hidden;">
        <div  id="vs_inner_0">
            {% for category in site.categories %}
            {% for posts in category %}
            {% for post in posts limit:5 %}
            {% if post.category == 'Kültür Sanat' %}                                                                                
            <article class="article-mini">
                    <div class="inner">
                            <figure>
                                    <a href="{{ post.url }}" target="_blank">
                                            <img src="{{ site.url }}/assets/images/news/{{ post.image }}" alt="{{ post.title }}">
                                    </a>
                            </figure>
                            <div class="padding">
                                            <h1><a href="{{ post.url }}" target="_blank">{{ post.title }}</a></h1>
                                            <div class="detail">
                                                    {% if post.category %}
                                                    {% assign category_url = post.category | downcase | strip | replace: ' ','-' | replace: 'Ş','s' | replace: 'ş','s' | replace: 'ğ','g' | replace: 'ı','i' | replace: 'İ','I' | replace: 'ö','o' | replace: 'Ö','O' | replace: 'Ü','U' | replace: 'ü','u' | replace: 'Ç','C' | replace: 'ç','ç' %}
                                                    <div class="category"><a href="{{ site.url }}/{{ category_url }}" target="_blank">{{ post.category }}</a></div>
                                                    {% endif %}
                                                    <div class="time">{{ post.date | date: '%d.%m.%Y' }}</div>
                                            </div>
                                    </div>
                    </div>
            </article>      
            {% endif %}	                                  
            {% endfor %}
            {% endfor %}
         {% endfor %}
    </div>
        
    </div>
</div>