
<title>{% if page.title == "" %}{{ site.title }} | {{ site.description }}{% else %}{{ page.title }} | {{ site.title }}{% endif %}</title>
<meta property="og:title" content="{% if page.title == 'Home' %}{{ site.title }} | {{ site.description }}{% else %}{{ page.title }}{% endif %}" />
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ site.github.url }}{{ page.url }}" />
<meta property="og:site_name" content="İnsan Sevmez" />
<meta name="keywords" content="{{ page.tags | join: ', ' | escape }}"/>
<link rel="canonical" href="{{ site.github.url }}{{ page.url }}" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ site.github.url }}{{ page.url }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:description" content="{% if page.title == '' %}{{ site.excerpt }}{% else %}{{ page.summary | escape }}{% endif %}" />
<meta property="article:published_time" content="{{ page.date }}" />
<meta property="article:modified_time" content="{{ page.date }}" />
