<div class="col-xs-6 col-md-4 sidebar" >

                <h1 class="title-col">
                        SON YAZILAR                                
                                <div class="carousel-nav" id="hot-news-nav">
                                        <div class="prev">
                                                <i class="ion-ios-arrow-left"></i>
                                        </div>
                                        <div class="next">
                                                <i class="ion-ios-arrow-right"></i>
                                        </div>
                                </div>
                        </h1>
                        <div class="body-col vertical-slider" data-max="5" data-nav="#hot-news-nav" data-item="article">
                                        {% for post in site.posts limit:10 %}   
                                        {% if post.selected and post.hide == false %}                                          
                                        <article class="article-mini">
                                                <div class="inner">
                                                        <figure>
                                                                <a href="{{ post.url }}" target="_blank">
                                                                        <img src="{{ site.url }}/assets/images/news/{{ post.image }}" alt="{{ post.title }}">
                                                                </a>
                                                        </figure>
                                                        <div class="padding">
                                                                <h1><a href="{{ post.url }}" target="_blank">{{ post.title }}</a></h1>
                                                                <div class="detail">
                                                                        {% if post.category %}
                                                                        {% assign category_url = post.category | downcase | strip | replace: ' ','-' | replace: 'Ş','s' | replace: 'ş','s' | replace: 'ğ','g' | replace: 'ı','i' | replace: 'İ','I' | replace: 'ö','o' | replace: 'Ö','O' | replace: 'Ü','U' | replace: 'ü','u' | replace: 'Ç','C' | replace: 'ç','ç' %}
                                                                        <div class="category"><a href="{{ site.url }}/{{ category_url }}" target="_blank">{{ post.category }}</a></div>
                                                                        {% endif %}
                                                                        <div class="time">{{ post.date | date: '%d.%m.%Y' }}</div>
                                                                </div>
                                                        </div>
                                                </div>
                                        </article>          
                                        {% endif %}	                                
                                        {% endfor %}
                               
                        </div>

                        
                        <div class="sidebar-title for-tablet">SideBar</div>
                        
                        <aside>
                                <h1 class="aside-title">Editörün Seçtikleri</h1>
                                <div class="aside-body">
                                        {% for post in site.posts %}
                                        {% if post.selected and post.hide == false %}                                                                                
                                        <article class="article-mini">
                                                <div class="inner">
                                                        <figure>
                                                                <a href="{{ post.url }}" target="_blank">
                                                                        <img src="{{ site.url }}/assets/images/news/{{ post.image }}" alt="{{ post.title }}">
                                                                </a>
                                                        </figure>
                                                        <div class="padding">
                                                                        <h1><a href="{{ post.url }}" target="_blank">{{ post.title }}</a></h1>
                                                                        <div class="detail">
                                                                                {% if post.category %}
                                                                                {% assign category_url = post.category | downcase | strip | replace: ' ','-' | replace: 'Ş','s' | replace: 'ş','s' | replace: 'ğ','g' | replace: 'ı','i' | replace: 'İ','I' | replace: 'ö','o' | replace: 'Ö','O' | replace: 'Ü','U' | replace: 'ü','u' | replace: 'Ç','C' | replace: 'ç','ç' %}
                                                                                <div class="category"><a href="{{ site.url }}/{{ category_url }}" target="_blank">{{ post.category }}</a></div>
                                                                                {% endif %}
                                                                                <div class="time">{{ post.date | date: '%d.%m.%Y' }}</div>
                                                                        </div>
                                                                </div>
                                                </div>
                                        </article>      
                                        {% endif %}	                                  
                                        {% endfor %}
                                </div>
                        </aside>
        <aside>
                <div class="aside-body">
                        <div class="newsletter" target="_blank">
                                <div class="icon">
                                        <i class="ion-ios-email-outline"></i>
                                        <h1>E-Posta Aboneliği</h1>
                                </div>
                                <a href="https://feedburner.google.com/fb/a/mailverify?uri={{ site.feedburner }}" target="_blank" class="btn btn-primary btn-block white">Abone Ol</a>
                                <p>Abone olduğunuzda, e-postanızda yeni makaleler alacaksınız.</p>
                        </div>
                </div>
        </aside>
        
        <aside id="sidebar">
                <div class="aside-body">
                          <figure class="ads">
                                  <a href="#">
                                        {% include advertisements.html %}
                                  </a>
                          </figure>
                        </div>
       </aside>
</div>